# Maven build output
target/
*.class

# Eclipse & IntelliJ IDE settings
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/

# OS specific files
.DS_Store
Thumbs.db

# Logs & Temporary files
*.log
tmp/
